/config.mk
/examples/*/*
!/examples/*.*
!/examples/*/*.*
/examples/*/*.so
/examples/*/*.a
/examples/*/*.h
!/examples/!(*)/*.h

/lib/*/*
!/lib/*.*
!/lib/*/*.*
/lib/*/*.so
/lib/*/*.a
/lib/*/*.h
!/lib/!(*)/*.h

.build
/build/bin
/build/lib
*.o
*.so
*.dylib
*.tm.c
*.tm.h
*.tm.o
*.testresult
tags
