/build
.build
*.o
*.so
*.dylib
*.tm.c
*.tm.h
*.tm.o
*.testresult
/tomo
tags

/examples
!/examples/*.*
!/examples/*.*
!/examples/*/*.*
/examples/*/*.so

/lib
!/lib/*.*
!/lib/*.*
!/lib/*/*.*
/lib/*/*.so
