/examples/*/*
!/examples/*.*
!/examples/*/*.*
/examples/*/*.so
/examples/*/*.h
!/examples/!(*)/*.h

/lib/*/*
!/lib/*.*
!/lib/*/*.*
/lib/*/*.so
/lib/*/*.h
!/lib/!(*)/*.h

.build
build
*.o
*.so
*.dylib
*.tm.c
*.tm.h
*.tm.o
*.testresult
tags
